.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    width: 100%;
}

.Navbar-logo{
    font-size: 30px;
    color:rgb(35, 5, 232);
    font-weight: bold;
}

.Navbar-links ul{
    list-style: none;
    
}
.Navbar-links li {
    display: inline-block;
    margin-right: 30px;
    
}

.Navbar-links a {
    font-size: large;
    text-decoration: none;
    color: #fbeeee;
    
}
